version: "3.8"
services:
  job-app:
    build: .
    container_name: "docker-app"
    ports:
      - 4950:4950
  mongodb:
    image: mongo:latest
    container_name: "mongodb"
    ports:
      - 27070:27017