version: "3.8"
services:
  job-app:
    build: .
    container_name: "job-front"
    ports:
      - 8080:8080
  mongodb:
    image: mongo:latest
    container_name: "mongodb"
    ports:
      - 27070:27017